.footer {
    background-color: #007bff66;
    padding: 20px;
    text-align: center;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: auto;
}

.footer__text {
    margin: 0;
    font-size: 14px;
}
